<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775976462586-f7hvdhbndub95mj9eqfstq17f5tfp00p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775976462586-f7hvdhbndub95mj9eqfstq17f5tfp00p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>775976462586-edq6875u81cbdqmmjvjshbaqlofsilbk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlj9z7RlUBmGuB9XKBLniPZxXQEPOu_M4</string>
	<key>GCM_SENDER_ID</key>
	<string>775976462586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.boredapp</string>
	<key>PROJECT_ID</key>
	<string>boredapp-b16ae</string>
	<key>STORAGE_BUCKET</key>
	<string>boredapp-b16ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775976462586:ios:fb7cdb51f596b76159c143</string>
</dict>
</plist>